In [1]:
import numpy as np
import pandas as pd
import requests
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv("IDA_data1.csv")
df.head()

/home/vu/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IDA,Due to IDA,Exchange Adjustment,Borrower's Obligation,...,Repaid 3rd Party,Due 3rd Party,Credits Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
0,P007353,EDUCATION II,5000000.0,24276.41,0.0,4975723.59,4975723.59,0.0,0,0.0,...,0.0,0,0.0,9/1/1988 0:00,3/1/2028 0:00,4/6/1978 0:00,3/14/1978 0:00,8/15/1978 0:00,12/31/1984 0:00,NaN
1,P009314,KHANABAD IRRIGATION II,22000000.0,21912427.15,0.0,87572.85,87572.85,0.0,0,0.0,...,0.0,0,0.0,6/15/1988 0:00,12/15/2027 0:00,4/10/1978 0:00,3/21/1978 0:00,9/19/1978 0:00,6/30/1983 0:00,NaN
2,P009315,FRUIT & VEGETABLE EXPORT,18000000.0,16914196.18,0.0,1085803.82,1085803.82,0.0,0,0.0,...,0.0,0,0.0,6/15/1988 0:00,12/15/2027 0:00,9/27/1978 0:00,3/21/1978 0:00,5/15/1979 0:00,6/30/1985 0:00,NaN
3,P005253,AMMAN WATER SUPP.SEW.III,14000000.0,0.00,0.0,14000000.00,10640000.00,3360000.0,0,3360000.0,...,0.0,0,3360000.0,9/1/1988 0:00,3/1/2028 0:00,5/19/1978 0:00,3/23/1978 0:00,10/17/1978 0:00,6/30/1983 0:00,NaN
4,P002575,PORT,22000000.0,0.00,0.0,22000000.00,1320000.00,20680000.0,0,20680000.0,...,0.0,0,20680000.0,9/15/1988 0:00,3/15/2028 0:00,6/9/1978 0:00,3/23/1978 0:00,2/2/1979 0:00,6/30/1983 0:00,NaN